{{#this}}
<div class="news">
	<div class="thumbnail">
		<img class="newsImg" src="{{img}}" alt="picture">
	</div>
	<div class="caption">
		<h4><a href="#/news/{{id}}"  data-id="{{id}}">{{title}}</a></h4>
		<p>{{description}}</p>
	</div>
    <div class="created">
        <p>Публикувано на: {{createdOn}}</p>
    </div>
	<!--<a href="http://localhost:3001/#/news/{{id}}" target="_blank" class="fb-counter" id="facebook_share">0</a>-->

</div>
{{/this}}

