
{{#each this}}
<h1>Search result materials for {{title}}</h1>
<p>Description: {{description}}</p>
<p>Created on: {{createdOn}}</p>
<p>Rating: {{rating}}</p>
<img src="{{img}}" alt="picture" width="100px">
<p>UserID: {{user.id}}</p>
<p>User: {{user.username}}</p>
{{/each}}