{{#each this}}
<h3 class="list-group-item-heading text">Title: {{text}}</h3>
<p class="list-group-item-text likes">Likes: {{likes}}</p>
<p class="list-group-item-text dislikes">Dislikes: {{dislikes}}</p>
<img class="picture" src="{{img}}" alt="picture" width = "100px">
<p class="list-group-item-text">Share date: {{shareDate}}</p>
{{/each}}